.bckH1
{
    color: #eee;
    padding: 30px 0 50px 0;
}
.bckH4
{
    color: #eee;
    padding-top: 30px;
}

.selectBtn:focus
{
    border: 4px solid #C387DB;
}
.childpool
{
    max-height: 500px;
    overflow: scroll;

}
.pointCountsArea
{
    width: 100%;
}

.changePointsButton
{
    color: #000;
    font-size: 20px;
    border: none;
    padding: 20px;
    border-radius: 10px;
    margin: 4px;
    background-color: #65D692;
    margin-top: 20px;
}


#gif
{
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
}
.addPlayer
{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 50px;
}
.addPlayer:hover
{
    border: 1px solid white;
    border-radius: 50%;
}

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
.bckH1
{
    color: #222;
    margin-top: 10px;
    font-size: 60px;
    font-weight: 100;
    font-family: "Caveat", cursive;
}
/* .PointsContainer
{
    margin: 0 15px;
} */
.selectBtn
{
    border: none;
    padding: 20px;
    border-radius: 10px;
    margin: 4px;
    font-size: 15px;
    background-color: #6FBDD9;
}
.addBtn
{
    border: none;
    padding: 20px;
    border-radius: 10px;
    margin: 4px;
    font-size: 20px;
    background-color: #EF81DD;

    width: 180px;
}
.addMoreBtn
{
    border: none;
    padding: 20px;
    border-radius: 10px;
    margin: 4px;
    font-size: 20px;
    background-color: #F67C7E;

    width: 200px;
}
#childrenTableAdmin
{
    margin-top: 40px;
    border-collapse: collapse;
    width: 50%;
}
#childrenTableAdmin td, #childrenTableAdmin th
{
    border: 1px solid #ddd;
    padding: 8px;
}
#childrenTableAdmin tr:nth-child(even)
{
    background-color: #bbb;
}
#childrenTableAdmin tr:nth-child(odd)
{
    background-color: #ddd;
}
#childrenTableAdmin th
{
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #65D692;
    background-color: #C387DB;
    color: #222;
}

@media only screen and (max-width: 1320px)
{
    #childrenTableAdmin
    {
        width: 70%;
    }

}

@media only screen and (max-width: 940px)
{
    #childrenTableAdmin
    {
        width: 90%;
    }
    .addBtn
    {
        width: 80px;
    }
    .addMoreBtn
    {
        width: 100px;
    }
    .limiter
    {
        width: 100px;
    }

}
@media only screen and (max-width: 510px)
{
    #childrenTableAdmin
    {
        width: 90%;
    }
    .addBtn
    {
        width: 50px;
        font-size: 15px;
    }
    .addMoreBtn
    {
        width: 60px;
        font-size: 15px;
    }
    .limiter
    {
        width: 100px;
    }

}